.video-feedback {
    margin-top: 10px;
}

.like-button, .dislike-button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #FF0000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.user-panel {
    text-align: right;
  }
  
  .user-panel-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .user-panel-buttons button {
    margin-left: 10px;
    background-color: #FF0000;
    color: white;
  }
  